.controllerView-fadeContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--fade-color);
    opacity:0;
}

.controllerView-elementsContainer{
    width: 100%;
    height: 100%;
    
}