.scoreView{
    position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

width: 25%;
background-color: #c3b2b2;
margin-bottom: 10px;
margin-top: 10px;
border-radius: 5px;

}
.scoreView-nameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255 253 196);
    font-size: 40px;
}
.scoreView-valuesContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;

}
.scoreView-valueContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scoreView-value-title{
    color: #6b0078;
    font-size: 40px;
    font-size: 20px;
    font-weight: bold;
}

.scoreView-value-description{
    color: white;
    font-size: 20px;
}
