:root{
--primary-color-dark:#c55e23;
--primary-color: #2196f3;
--primary-color-light:#1769aa;
--secondary-color-dark: #b2741a; 
--secondary-color: #772f53; 
--secondary-color-light:#ffb851;
--background-color: #e4e4e4;
--navigationContainer--height:60px;
--fade-color: rbg(0,0,0,1);
}

*{padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif;}
h1{color: var(--primary-color);}
h2{color:var(--secondary-color)}

button{
    min-width: 60px;
    border-style: none;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: white;
    background-color:var(--secondary-color) ;
    outline: none;
}

button:focus {
    outline: none;
}

.mainContainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #53866e;
    width: 100vw;
    height: 100vh;
}

.contentContainer{
    /*max-width: 500px;*/
    width: 100%;
    height:calc(100% - var(--navigationContainer--height));
    
    display: flex;
}

.game-button{
    height: 50px !important;
    width: 240px !important;
    background-color: color(xyz-d65 0.1 0.14 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    border-style: solid;

}




/*Navigation Container CSS*/

.navigationContainer{
    background-color: #cba97c;
    width: 100%;
    height: var(--navigationContainer--height);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}

/*.navigationContainer-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}*/

.navigationContainer-back-button {
    
    width: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-color: #d7c0a4;
    border-style: outset;
    margin: 20px;
    padding: 8px 6px;
    cursor: pointer;
    user-select: none;
}

.navigationContainer-title {
    width: 60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-color: #d7c0a4;
    border-style: outset;
    margin: 20px;
    padding: 8px 28px;
}





